.list-books-title {
  padding: 10px 0;
  background: #288ac4;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}
